* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}

body {
  background: linear-gradient(
    90deg,
    rgba(141, 194, 111, 1) 0%,
    rgba(118, 184, 82, 1) 50%
  );
}

.productContainer {
  max-width: 100%;
  padding: 2rem;
  margin: 0 auto;
  /* background: #ffffff; */
}

.productForm form {
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 0.5rem;
  background: #ffffff;
  box-shadow: 0 0.5rem 0.95rem rgb(0, 0, 0, 0.5);
}

.productForm form h3 {
  text-transform: uppercase;
  color: #3f3838;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
}

.productForm form .itemsBox {
  outline: none;
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.8rem;
  font-size: 1.3rem;
  margin: 0.5rem 0;
  /* after v01 */
  color: black;
  background-color: #fff;
  border: 2px solid transparent;
  border-top: 2px solid transparent;
  /* box-shadow: 1px 4px 12px rgb(0, 3, 3, 0.1), -1px -12px 10px #fff; */
  box-shadow: 0px -1px 10.4px rgb(0, 3, 3, 0.1), 1px -1px 1px grey;
  transition: all 250ms ease-in-out;
}

.event {
  margin-top: 0.8rem;
  width: 100%;
  color: black;
  padding: 0.8rem;
  font-size: 1rem;
  background-color: #fff;
  border: 2px solid transparent;
  border-top: 2px solid transparent;
  border-radius: 0.5rem;
  /* box-shadow: 1px 4px 12px rgb(0, 3, 3, 0.1), -1px -12px 10px #fff; */
  box-shadow: 0px 1px 9px rgb(0, 3, 3, 0.1), -1px 1px 0px grey;
  /* box-shadow: 1.4px 3px 9.1px rgb(0, 3, 3, 0.1), 0.4px 0.4px 0.4px gray; */
  transition: all 250ms ease-in-out;
  outline: none;
}

.event-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.submittBtn {
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  background: #4caf50;
  color: #ffffff;
  border: none;
  text-align: center;
}

.submittBtn:hover {
  background: #61c0b7;
}

.message {
  text-align: center;
  color: purple;
  margin: 0.5rem auto;
}

/* ADDING SOME RESPONSIVENESS */
/* @media (max-width: 992px) {
  html {
    font-size: 1rem;
  }
} */

@media (max-width: 450px) {
  html {
    font-size: 0.94rem;
  }

  .submittBtn {
    font-size: 1.3rem;
  }
}

@media (max-width: 360px) {
  .productForm form .itemsBox {
    font-size: 1.18rem;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 0.8rem;
  }

  .submittBtn {
    font-size: 1.2rem;
  }
}
