* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}

.productContainer {
  max-width: 100%;
  padding: 2rem;
  margin: 0 auto;
  background: #ffffff;
}

.productForm form {
  max-width: 50rem;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 0.5rem;
  background: #c7d5ce;
  box-shadow: 0 0.5rem 0.95rem rgb(0, 0, 0, 0.5);
}

.productForm form h3 {
  text-transform: uppercase;
  color: #3f3838;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
}

.productForm form .itemsBox {
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  background: #ffffff;
  padding: 1rem 1.2rem;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.submittBtn {
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  background: green;
  color: #ffffff;
  border: none;
  text-align: center;
}

.submittBtn:hover {
  background: #61c0b7;
}

.message {
  text-align: center;
  color: purple;
  margin: 0.5rem auto;
}

/* ADDING SOME RESPONSIVENESS */
/* @media (max-width: 992px) {
  html {
    font-size: 1rem;
  }
} */

@media (max-width: 450px) {
  html {
    font-size: 0.94rem;
  }

  .submittBtn {
    font-size: 1.3rem;
  }
}

@media (max-width: 360px) {
  .productForm form .itemsBox {
    font-size: 1.26rem;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 0.8rem;
  }

  .submittBtn {
    font-size: 1.2rem;
  }
}
