* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

/* ADDING CSS TO PAGETIPS SECTION */
.pageTips {
  position: relative;
  max-width: 75rem;
  margin: 3rem auto;
}

/* THE CONTAINERS WITH DETAILS */
.containerTips {
  padding: 0.625rem 3.125rem;
  position: relative;
  width: 50%;
  /* background: rgb(0, 0, 0, 0.3); */

  /* ADDING ANIMATIONS TO ALL CONTENTS TO MOVE SLOWLY DOWNWARDS */
  animation: movedown 1s linear forwards;
  opacity: 0;
}

/* MOVE DOWN OPACITY AND TRANSFORM */
@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-1.875rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

/* SOLVING THE PROBLEM FOR ALL CONTENTS TO GO ONE BY ONE */
.containerTips:nth-child(1) {
  animation-delay: 0s;
}

.containerTips:nth-child(2) {
  animation-delay: 1s;
}

.containerTips:nth-child(3) {
  animation-delay: 2s;
}

.containerTips:nth-child(4) {
  animation-delay: 3s;
}

.containerTips:nth-child(5) {
  animation-delay: 4s;
}

.containerTips:nth-child(6) {
  animation-delay: 5s;
}

.textBox {
  padding: 1.25rem 1.875rem;
  background: #fff;
  position: relative;
  border-radius: 0.4rem;
  font-size: 0.94rem;
}

.textBox h2 {
  font-weight: 600;
  margin-bottom: 0.94rem;
}

/* ALIGNIN THE CONTAINERS LEFT AND RIGHT */
.containerleft {
  left: 0;
}

.containerRight {
  left: 50%;
}

/* ADDING TIP ICONS CSS */
.containerTips img {
  position: absolute;
  width: 2.5rem;
  border-radius: 50%;
  right: -1.25rem;
  top: 2rem;
  z-index: 10;
}

.containerRight img {
  left: -1.25rem;
}

/* ADDIGN MIDDLE LINE CROSS */
.pageTips::after {
  content: "";
  position: absolute;
  width: 0.375rem;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -0.1875;
  z-index: -1;

  /* ADDING ANIMATION TO THE MIDDLE LINE */
  animation: moveline 6s linear forwards;
}

/* ADDING CSS TO CROSSING LINE FROM ZERO % ~ HEIGHT  */
@keyframes moveline {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.leftArrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 1.75rem;
  z-index: 1;
  border-top: 0.94rem solid transparent;
  border-bottom: 0.94rem solid transparent;
  border-left: 0.94rem solid #fff;
  right: -0.94rem;
}

.rightArrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 1.75rem;
  z-index: 1;
  border-top: 0.94rem solid transparent;
  border-bottom: 0.94rem solid transparent;
  border-right: 0.94rem solid #fff;
  left: -0.938rem;
}

/* ADDING RESPONSIVENESS */

@media screen and (max-width: 600px) {
  /* ADDIGN MARGIN TOP AND BOTTOM */
  .pageTips {
    margin: 3.13rem auto;
  }

  /* ALGINT THE TIPS SECTION */
  .pageTips::after {
    left: 1.94rem;
    margin-left: 0.9rem;
  }

  /* DEFINING THE TIPS CONTAINER WITH LEFT AND RIGH POSISTIONS */
  .containerTips {
    width: 95%;
    padding-left: 5rem;
    /* padding-right: 1.57rem; */
    margin-left: 0.8rem;
  }

  .textBox {
    font-size: 0.813rem;
  }

  /* ALGNING THE THE RIGHT CONTAINERS TO MIDDLE OF THE SCREEN */
  .containerRight {
    left: 0;
  }

  .containerTips img {
    left: 0.813rem;
  }

  /* CHANGING POSITION OF THE ARROW IN THE LEFT */
  .leftArrow,
  .rightArrow {
    border-right: 0.94rem solid #fff;
    border-left: 0;
    left: -0.94rem;
  }
}
