@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
}
body {
  overflow: hidden;
}

.contactSection {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactSection .profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contactSection .show .profile {
  display: none;
}

.contactSection .profile .profile-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #4070f4;
  padding: 2px;
  margin-bottom: 20px;
}

.profile .profile-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.profile .name,
.profile .profession {
  font-size: 22px;
  font-weight: 500;
  color: #333;
}

.profile .profession {
  font-weight: 400;
  margin-top: -6px;
}

.profile .button {
  display: flex;
  align-items: center;
  padding: 12px 25px;
  background: #4070f4;
  margin-top: 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 24px;
  transition: all 0.3s ease;
}

.profile .button:hover {
  background: #275df1;
}

.profile .button i {
  color: #fff;
  font-size: 22px;
  margin-right: 5px;
}

.profile .button button {
  background: none;
  outline: none;
  border: none;
  font-size: 20px;
  color: #fff;
  pointer-events: none;
}

.contactSection .popup-outer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.contactSection .show .popup-outer {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.contactSection .popup-box {
  position: relative;
  padding: 30px;
  max-width: 420px;
  width: 100%;
  background: #fff;
  border-radius: 12px;
}
.popup-box .close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 30px;
  color: #b4b4b4;
  cursor: pointer;
  transition: all 0.2s ease;
}
.popup-box .close:hover {
  color: #333;
}
.contactSection .popup-box .profile-text {
  display: flex;
  align-items: center;
}
.contactSection .popup-box img {
  height: 4.375rem;
  width: 4.375rem;
  object-fit: cover;
  border-radius: 50%;
}
.profile-text .text {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.profile-text .text .name {
  font-size: 1.3rem;
  font-weight: 400;
}
.profile-text .text .profession {
  font-size: 1rem;
  font-weight: 500;
}

.detailsProf {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.detailsProf .fa-solid {
  margin-right: 0.3rem;
}
.contactSection .popup-box textarea {
  min-height: 150px;
  width: 100%;
  margin-top: 0.5rem;
  outline: none;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 6px;
  resize: none;
  font-size: 1rem;
  font-weight: 400;
  background: #f3f3f3;
}
.contactSection .popup-box .button {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.popup-box .button button {
  outline: none;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  background: #6f93f6;
  margin-left: 12px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button button.cancel {
  background: #f082ac;
}
.button button.cancel:hover {
  background: #ec5f95;
}
.button button.send:hover {
  background: #275df1;
}
