<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Details</title>
    <link rel="stylesheet" href="../css/registation.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="wrapper">
      <!-- "" -->
      <section class="containerWrapper">
        <header>Update Details</header>
        <form action="" method="post" enctype="multipart/form-data">
          <div class="user-details">
            <div class="field input">
              <label for="fisrtName">First Name</label>
              <input type="text" name="fname" placeholder="First Name" />
            </div>
            <div class="field input">
              <label for="lastName">Last Name</label>
              <input type="text" name="lname" placeholder="Last Name" />
            </div>
          </div>

          <div class="field input">
            <label for="lastName">Email Address</label>
            <input type="text" name="email" placeholder="Enter Email" />
          </div>
          <div class="field input">
            <label for="phoneNo">Phone Number</label>
            <input type="text" name="phone" placeholder="Phone Number" />
          </div>
          <div class="field input">
            <label for="password">Old Password</label>
            <input type="text" name="oldPassword" placeholder="Old password" />
          </div>
          <div class="field input">
            <label for="password">New Password</label>
            <input
              type="password"
              name="newPassword"
              placeholder="New password"
            />
            <i class="fas fa-eye"></i>
          </div>
          <div class="field input">
            <label for="confirmPassword">Repeat Password</label>
            <input
              type="password"
              name="repeatPassword"
              placeholder="Repeat password"
            />
          </div>
          <div class="field image">
            <label for="profile">Profile Photo</label>
            <input type="file" />
          </div>

          <div class="error-text">Hey this is an Error Message</div>

          <div class="field button">
            <input type="submit" name="submit" value="Update" />
          </div>
        </form>
      </section>
    </div>

    <script src="../js/hideShowPassword.js"></script>
  </body>
</html>
