@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 260px;
  background: #2292b7;
  padding: 15px;
  z-index: 99;
}

.logo {
  font-size: 25px;
  padding: 0 15px;
}

.sidebar a {
  color: floralwhite;
  font-size: 1.05rem;
  text-decoration: none;
}

.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}

.menu-content::-webkit-scrollbar {
  display: none;
}

.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}

.submenu-active .menu-items {
  transform: translateX(-56%);
}

.menu-title {
  color: #fff;
  font-size: 14px;
  padding: 15px 20px;
}

.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}

.item i {
  font-size: 12px;
}

.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: lightblue;
}

.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  cursor: pointer;
}

.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 26px);
  height: calc(100% + 100vh);
  background: #11101d;
  display: none;
}

.show-submenu ~ .submenu {
  display: block;
}

.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}

.submenu .menu-title i {
  margin-right: 10px;
}

.navbar,
.main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
}

.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}

.navbar {
  position: fixed;
  color: #fff;
  padding: 15px 20px;
  font-size: 25px;
  background: #474643;
  cursor: pointer;
}

.logout-button {
  margin-top: 1px;
  margin-right: 2px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

.logout-button:hover {
  background-color: #0056b3;
}

.logout-button a {
  text-decoration: none;
  color: #fff;
}

.navbar #sidebar-close {
  cursor: pointer;
}

.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 100;
  background: #e7f2fd;
}

.main h1 {
  color: #11101d;
  font-size: 40px;
  text-align: center;
}

/* Responsive Layout */
@media only screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: static;
    padding: 15px;
  }

  #sidebar-close {
    display: none;
  }

  .logo {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .menu-content {
    overflow-y: visible;
  }

  .menu-items {
    display: inline;
    position: initial;
    gap: 10px;
  }

  .submenu-item {
    width: 100%;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  .main {
    padding: 5px;
    left: 0;
    width: 100%;
  }
}
