


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   background-color: rgb(247, 243, 243);
  }
  
  .container {
    max-width: 960px;
    margin: top;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    font-size: 2px;
    
  }
  
  
  
  /* Table styles */
  .table {
    width: 100%;
    display:flex ;
    align-items: center;
    justify-content: space-between;
  
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
  }
  
  .table .header {
    background-color:grey;
    font-weight: bold;
  }
  
  .table .content-details {
    background-color:whitesmoke;
  }
  
  .table tr:nth-child(even) {
    background-color:white;
  }
  
  .table a {
    margin-right: 5px;
    
  }
  .content-details .action{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
  }
  /*
  .update{
    background: #3e0e9e;
    color: white;
    /*padding: 5PX 10PX;*/
  
  /*
  .delete{
    background-color: rgb(234, 22, 22);
    color: white;
  }
  .edit{
    background: green;
    color: white;
  }*/
  
  .update {
    background: #3e0e9e;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .delete {
    background-color: rgb(234, 22, 22);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  /*.edit {
    background: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }*/
  
  .btn:hover{
    color: white;
  }
  
  
  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .content {
    transition: background-color 0.3s;
  }
  
  .content:hover {
    background-color: #f5f5f5;
  }
  
  
  